.dashboard_container {
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Modal */
.dashboard_modal_header_box {
    position: relative;
    padding: 20px;
    font-size: 18px;
    font-weight: 500;
}

.dashboard_modal_close_icon_btn_box {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s all ease;
}

.dashboard_modal_body_box {
    padding: 14px 20px;
}

.dashboard_transactions_modal_body_box {
    max-height: 360px;
    overflow: auto;
}

/* My votes */
.dashboard_transactions_modal_body_box {
    max-height: 360px;
    overflow: auto;
}

.share_dropdown {
    padding: 0px;
    background: none;
    border: 0px;
}

.share_dropdown::after {
    display: none;
}

/* Dashboard all polls */
.all_polls_list_outline_box {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    row-gap: 10px;
}
.all_polls_list_box {
    border-radius: 6px;
    padding: 16px;
    cursor: pointer;
    background-color: rgba(236, 239, 241, 0.3);
    width: 100%;
    transition: 0.2s ease all;
}
.all_polls_list_box:hover {
    background-color: rgba(236, 239, 241, 0.6);
}
.all_polls_status_box_active {
    padding: 1px 8px;
    background-color: #21b66f;
    font-size: 12px;
    color: white;
    border-radius: 24px;
}
.all_polls_status_box_draft {
    padding: 1px 8px;
    background-color: #fca43e;
    font-size: 12px;
    color: white;
    border-radius: 24px;
}
.all_polls_status_box_closed {
    padding: 1px 8px;
    background-color: #fa4949;
    font-size: 12px;
    color: white;
    border-radius: 24px;
}
.all_polls_description {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.8);
    line-height: 1.6;
}
