@import url("bootstrap/dist/css/bootstrap.min.css");

.flex_align_item_center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    border-radius: 0px;
}

.btn_big {
    padding-left: 2rem;
    padding-right: 2rem;
}

.ballot_link {
    color: black;
    text-decoration: underline;
    fill: black
}

.ballot_link:hover {
    color: black;
}